.home-header{
    background: url('https://image.shutterstock.com/image-photo/question-mark-on-blue-background-260nw-1595492578.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
